#ifndef CONFIG_H
#define CONFIG_H

// Wi-Fi Configuration
inline const char* ssid = "";
inline const char* password = "";

// MQTT Configuration
inline const char* mqttServer = "";
inline const int mqttPort = 8883;
inline const char* mqttUsername = "PicoW";
inline const char* mqttPassword = "";
inline const char* mqttTopic = "1"; //Table ID

// Pin Configuration
#define BUTTON_PIN 10
#define BUZZER_PIN 20

// Display Configuration
#define SCREEN_WIDTH 128
#define SCREEN_HEIGHT 64

#endif